@model GrupoModel
@{
    ViewData["Title"] = "Apagar Usuário";
}

<div class="text-center">
    <h3>Deseja realmente apagar o grupo?</h3>
</div>

<div class="d-grid gap-2">
    <a class="btn btn-danger" role="button" asp-controller="Grupo" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar</a>
    <a class="btn btn-secundary" role="button" asp-controller="Grupo" asp-action="Index">Cancelar</a>
</div>