@model GrupoModel
@{
    ViewData["Title"] = "Cadastrar Grupo";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Grupo</h1>
</div>

<form asp-controller="Grupo" asp-action="Criar" method="post">

  <div class="form-group">
    <label for="descricao">Descrição</label>
    <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a descrição do grupo">
    @Html.ValidationMessageFor(x => x.Descricao)
  </div>

  <br />

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Grupo" asp-action="Index" role="button">Voltar</a>
  </div>
</form>